<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
</head>
<body>
	<div>
		<nav class="navbar navbar-light bg-faded">
			<div class="pull-left margin-left">
				<h1>
					<a class="headerText" href="../index.html">Tamara van Latum</a>
				</h1>
			</div>
			<div class="pull-right">
				<h1>
					<a class="headerText margin-right" href="contact.html">Info</a>
				</h1>
			</div>
		</nav>
	</div>
	
	<h1>Contact</h1>
</body>
</html>