<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
</head>
<body>
	<div class="margin-left margin-right">
		<div>
			<nav class="navbar navbar-light bg-faded">
				<div class="pull-left">
					<h1>
						<a class="headerText" href="../index.html">Tamara van Latum</a>
					</h1>
				</div>
				<div class="pull-right">
					<h1>
						<a class="headerText" href="contact.html">Info</a>
					</h1>
				</div>
			</nav>
		</div>
	</div>
	<div id="footer">
		<div class="container" style="margin-left: 0px">
			<h3 class="contactText nopadding">Tamara van Latum</h3>
			<h3 class="contactText nopadding">tamaravanlatum@hotmail.com</h3>
		</div>
	</div>
</body>
</html>