<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
</head>
<body>
	<div class="margin-left margin-right">
		<div>
			<nav class="navbar navbar-light bg-faded">
				<div class="pull-left ">
					<h1>
						<a class="headerText" href="../index.html">Tamara van Latum</a>
					</h1>
				</div>
				<div class="pull-right">
					<h1>
						<a class="headerText " href="contact.html">Info</a>
					</h1>
				</div>
			</nav>
		</div>
		<div class="row margin-bottom">
			<div class="col-md-6">
				<div class="main-img thumbnail ">
					<a href="../img/typografie/3.jpg"> <img class="workimage"
						src="../img/typografie/3.jpg" alt="Lights">
					</a>
				</div>
				<div class="thumbnail ">
					<a href="../img/typografie/2.jpg"> <img class="workimage"
						src="../img/typografie/2.jpg" alt="Nature">
					</a>
				</div>
				<div class="thumbnail ">
					<a href="../img/typografie/zoom4.jpg"> <img class="workimage"
						src="../img/typografie/zoom4.jpg" alt="Nature">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="thumbnail ">
							<p class="normalText">Project: Typografie</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="thumbnail ">
							<a href="../img/typografie/1.jpg"> <img class="workimage"
								src="../img/typografie/1.jpg" alt="Lights">
							</a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="thumbnail ">
							<a href="../img/typografie/4.jpg"> <img class="workimage"
								src="../img/typografie/4.jpg" alt="Lights">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>