<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
</head>
<body>
	<div>
		<nav class="navbar navbar-light bg-faded">
			<div class="pull-left margin-left">
				<h1>
					<a class="headerText" href="../index.html">Tamara van Latum</a>
				</h1>
			</div>
			<div class="pull-right">
				<h1>
					<a class="headerText margin-right" href="contact.html">Info</a>
				</h1>
			</div>
		</nav>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail margin-left">
				<a href="../img/IMG_6342.jpg"> <img src="../img/IMG_6342.jpg"
					alt="Lights" style="width: 100%">
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="../img/IMG_6349.jpg"> <img src="../img/IMG_6349.jpg"
					alt="Nature" style="width: 100%">
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail margin-right">
				<a href="../img/IMG_6351.jpg"> <img src="../img/IMG_6351.jpg"
					alt="Fjords" style="width: 100%">
				</a>
			</div>
		</div>
	</div>
	
		<div class="row">
		<div class="col-md-4">
			<div class="thumbnail margin-left">
				<a href="../img/IMG_6395.jpg"> <img src="../img/IMG_6395.jpg"
					alt="Lights" style="width: 100%">
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<a href="../img/IMG_6397.jpg"> <img src="../img/IMG_6397.jpg"
					alt="Nature" style="width: 100%">
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail margin-right">
				<a href="../img/IMG_6399.jpg"> <img src="../img/IMG_6399.jpg"
					alt="Fjords" style="width: 100%">
				</a>
			</div>
		</div>
	</div>
</body>
</html>