<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
</head>
<body>
	<div class="margin-left margin-right">
		<div>
			<nav class="navbar navbar-light bg-faded">
				<div class="pull-left ">
					<h1>
						<a class="headerText" href="../index.html">Tamara van Latum</a>
					</h1>
				</div>
				<div class="pull-right">
					<h1>
						<a class="headerText " href="contact.html">Info</a>
					</h1>
				</div>
			</nav>
		</div>
		<div class="row margin-bottom">
			<div class="col-md-6">
				<div class="main-img thumbnail ">
					<a href="../img/typografie/3.jpg"> <img class="workimage"
						src="../img/typografie/3.jpg" alt="Lights">
					</a>
				</div>
				<div class="thumbnail ">
					<a href="../img/typografie/2.jpg"> <img class="workimage"
						src="../img/typografie/2.jpg" alt="Nature">
					</a>
				</div>
				<div class="thumbnail ">
					<a href="../img/typografie/zoom4.jpg"> <img class="workimage"
						src="../img/typografie/zoom4.jpg" alt="Nature">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="thumbnail ">
							<p class="normalText">--DEZE TEKST MOET WORDEN VERVANGEN-- Wij zijn ontstaan in verschillende
								periodes. Sommige van ons bestaan al jaren terwijl anderen pas
								geleden zijn geboren. Sommige zijn kopieën andere kopieën van
								kopieën. Ontstaan vanuit een idee, mening visie of gevoel, we
								hebben allemaal ons eigen verhaal. Tegelijkertijd vertellen we
								ook allemaal hetzelfde verhaal. Het verhaal van een collectie,
								verzameld vanuit een passie of eigenlijk bijna een obsessie. Er
								komt altijd meer bij omdat een verzameling eeuwig is en nooit
								af. De visuele aantrekkingskracht van de afbeeldingen lokken,
								houden je aandacht vast en wisselen bijna met je van plek. Wie
								is nu eigenlijk de beschouwer? --DEZE TEKST MOET WORDEN VERVANGEN--</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="thumbnail ">
							<a href="../img/typografie/1.jpg"> <img class="workimage"
								src="../img/typografie/1.jpg" alt="Lights">
							</a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="thumbnail ">
							<a href="../img/typografie/4.jpg"> <img class="workimage"
								src="../img/typografie/4.jpg" alt="Lights">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>