<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
</head>
<body>
	<div class="margin-left margin-right">
		<div>
			<nav class="navbar navbar-light bg-faded">
				<div class="pull-left ">
					<h1>
						<a class="headerText" href="../index.html">Tamara van Latum</a>
					</h1>
				</div>
				<div class="pull-right">
					<h1>
						<a class="headerText " href="contact.html">Info</a>
					</h1>
				</div>
			</nav>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="thumbnail ">
					<a href="../img/IMG_7608.jpg"> <img class="workimage"
						src="../img/IMG_7608.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<p class="normalText">I came across this article in a newspaper which stated that
					in 2050 there will be more plastics than fish in the ocean. There
					was this surreal image with the article of a seahorse holding on to
					a q-tip. This was the starting point of looking into our oceans and
					the plastics it contains. A Plastic Ocean by journalist Craig
					Leeson was one of my main resources for this work. In the
					documentary they show us the shocking state of our oceans but also
					some possible solutions to this “plastic soup”.</p>
				<p class="normalText">Although there are already many good solutions to help solve
					the problem, prevention is better than a cure. To prevent the
					problem is to change how we think and behave. We need to change the
					way we consume. Go into a supermarket today and buy your groceries,
					almost everything has plastic around it. Not just groceries almost
					everything we buy contains plastic. We buy a product and once we're
					finished using it we casually throw it away. We need to realise
					that when we throw something away, it doesn’t just go “away”.</p>
			</div>
		</div>


		<div class="row margin-bottom">
			<div class="col-md-6">
				<div class="main-img thumbnail ">
					<a href="../img/IMG_7563.jpg"> <img class="workimage_big"
						src="../img/IMG_7563.jpg" alt="Nature">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="thumbnail ">
							<a href="../img/IMG_7566.jpg"> <img class="workimage_small"
								src="../img/IMG_7566.jpg" alt="Lights">
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="thumbnail ">
							<a href="../img/IMG_7601.jpg"> <img class="workimage_small"
								src="../img/IMG_7601.jpg" alt="Lights">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/IMG_7574.jpg"> <img style="height:60%" class="workimage"
						src="../img/IMG_7574.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/IMG_7583.jpg"> <img style="height:60%" class="workimage"
						src="../img/IMG_7583.jpg" alt="Nature">
					</a>
				</div>
			</div>
		</div>




		<div class="row">
			<div class="col-md-12">
				<video width="100%" height="100%" controls>
					<source src="../img/fishvideo.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
	</div>
</body>
</html>