<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
</head>
<body>
	<div>
		<nav class="navbar navbar-light bg-faded">
			<div class="pull-left margin-left">
				<h1>
					<a class="headerText" href="../index.html">Tamara van Latum</a>
				</h1>
			</div>
			<div class="pull-right">
				<h1>
					<a class="headerText margin-right" href="contact.html">Info</a>
				</h1>
			</div>
		</nav>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="thumbnail margin-left">
				<a href="../img/IMG_6342.jpg"> <img src="../img/IMG_6342.jpg"
					alt="Lights" style="width: 100%">
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<p class="margin-right">Lorem ipsum dolor sit amet, consectetur
				adipiscing elit. In vitae aliquet nulla. Pellentesque lobortis
				rutrum turpis. Fusce sollicitudin lectus eros, vitae viverra dolor
				efficitur et. Mauris tempus ipsum in dui venenatis, sed ultricies
				quam laoreet. Mauris commodo neque arcu, eu pulvinar mi bibendum
				consectetur. Vestibulum sit amet tortor sit amet leo iaculis
				lobortis non quis mauris. Sed sit amet sapien nibh. Donec
				scelerisque, urna nec imperdiet imperdiet, augue nibh rutrum dolor,
				in placerat ante eros aliquet ligula. Vivamus interdum id risus eget
				venenatis. Aenean enim ex, accumsan nec massa eget, mattis venenatis
				lectus.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="thumbnail margin-left">
				<a href="../img/IMG_6349.jpg"> <img src="../img/IMG_6349.jpg"
					alt="Lights" style="width: 100%">
				</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="thumbnail margin-right">
				<a href="../img/IMG_6351.jpg"> <img src="../img/IMG_6351.jpg"
					alt="Nature" style="width: 100%">
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="thumbnail margin-left">
				<a href="../img/IMG_6397.jpg"> <img src="../img/IMG_6397.jpg"
					alt="Nature" style="width: 100%; height: 935px">
				</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<div class="thumbnail margin-right">
						<a href="../img/IMG_6395.jpg"> <img src="../img/IMG_6395.jpg"
							alt="Lights" style="width: 100%">
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="thumbnail margin-right">
						<a href="../img/IMG_6399.jpg"> <img src="../img/IMG_6399.jpg"
							alt="Lights" style="width: 100%;">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>