<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
</head>
<body>
	<div class="margin-left margin-right">
		<div>
			<nav class="navbar navbar-light bg-faded">
				<div class="pull-left ">
					<h1>
						<a class="headerText" href="../index.html">Tamara van Latum</a>
					</h1>
				</div>
				<div class="pull-right">
					<h1>
						<a class="headerText " href="contact.html">Info</a>
					</h1>
				</div>
			</nav>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="thumbnail ">
					<a href="../img/abo/123.jpg"> <img class="workimage"
						src="../img/abo/123.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<p class="normalText">ABO</p>
			
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website.jpg"> <img
						class="workimage" src="../img/abo/website.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website17.jpg"> <img
						class="workimage" src="../img/abo/website17.jpg" alt="Nature">
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website2.jpg"> <img
						class="workimage" src="../img/abo/website2.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website3.jpg"> <img
						class="workimage" src="../img/abo/website3.jpg" alt="Nature">
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website4.jpg"> <img
						class="workimage" src="../img/abo/website4.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website5.jpg"> <img
						class="workimage" src="../img/abo/website5.jpg" alt="Nature">
					</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website6.jpg"> <img
						class="workimage" src="../img/abo/website6.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website7.jpg"> <img
						class="workimage" src="../img/abo/website7.jpg" alt="Nature">
					</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website8.jpg"> <img
						class="workimage" src="../img/abo/website8.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website9.jpg"> <img
						class="workimage" src="../img/abo/website9.jpg" alt="Nature">
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website10.jpg"> <img
						class="workimage" src="../img/abo/website10.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website11.jpg"> <img
						class="workimage" src="../img/abo/website11.jpg" alt="Nature">
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website12.jpg"> <img
						class="workimage" src="../img/abo/website12.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website13.jpg"> <img
						class="workimage" src="../img/abo/website13.jpg" alt="Nature">
					</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website14.jpg"> <img
						class="workimage" src="../img/abo/website14.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website15.jpg"> <img
						class="workimage" src="../img/abo/website15.jpg" alt="Nature">
					</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail ">
					<a href="../img/abo/website16.jpg"> <img
						class="workimage" src="../img/abo/website16.jpg" alt="Lights">
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail ">
					
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>