<html>
<head>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../js/imageslider.js"></script>


<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>

</head>
<body onload="showDivs(1);">
	<div class="margin-left margin-right">
		<div>
			<nav class="navbar navbar-light bg-faded">
				<div class="pull-left ">
					<h1>
						<a class="headerText" href="../index.html">Tamara van Latum</a>
					</h1>
				</div>
				<div class="pull-right">
					<h1>
						<a class="headerText " href="contact.html">Info</a>
					</h1>
				</div>
			</nav>
		</div>
		
		<div class="row margin-bottom">
			<div class="col-md-8">
				<div class="w3-content w3-display-container" style="max-width:1224px;">
				  <img class="mySlides" src="../img/abo/website17.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website2.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website3.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website4.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website5.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website6.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website7.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website8.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website9.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website10.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website11.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website12.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website13.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website14.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website15.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/website16.jpg" style="width:100%">
				  <img class="mySlides" src="../img/abo/123.jpg" style="width:100%">
				  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
				    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
				    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(9)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(10)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(11)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(12)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(13)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(14)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(15)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(16)"></span>
				    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(17)"></span>
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<p class="normalText">Project: ABO</p>
			</div>
		</div>
	</div>
</body>
</html>