#footer {
	position: fixed;
	bottom: 0px;
	height: 200px;
	width: 100%;
}

/* IE 6 */
* html #footer {
	position: absolute;
	top: expression(( 0 -( footer.offsetHeight)+(document.documentElement.clientHeight?
		 document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe=
		 document.documentElement.scrollTop? document.documentElement.scrollTop:
		 document.body.scrollTop))+'px');
}

/* unvisited link */
a:link {
	color: black;
}

/* visited link */
a:visited {
	color: black;
}

/* mouse over link */
a:hover {
	color: black;
}

/* selected link */
a:active {
	color: black;
}

a:link {
	text-decoration: none;
}



a img.hover {
    display: none;
    height: auto;
}
a img.default {
    display: inherit;
    height: auto;
}
a:hover img.hover {
    display: inherit;
    height: auto;
}
a:hover img.default {
    display: none;
    height: auto;
}



.normalText {
	font-family: Optima;
}

.headerText {
	font-size: 30px;
	font-family: Optima;
}

.margin-left {
	margin-left: 20px;
}

.margin-right {
	margin-right: 20px;
}

.margin-bottom{
	margin-bottom: 10px;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.twitterbird {
	width: 950px;
	height: 400px;
	display: block;
	background: transparent url('../img/9x4grey.png') center top no-repeat;
}

.twitterbird:hover {
	background-image: url('../img/9x4.png');
}