#footer {
	position: fixed;
	bottom: 0px;
	height: 70px;
	width: 100%;
}

.nopadding{
	padding:0px !important;
	margin:0px !important;
}

/* unvisited link */
a:link {
	color: black;
}

/* visited link */
a:visited {
	color: black;
}

/* mouse over link */
a:hover {
	color: black;
}

/* selected link */
a:active {
	color: black;
}

a:link {
	text-decoration: none;
}

.normalText {
	font-family: Optima;
}

.headerText {
	font-size: 30px;
	font-family: Optima;
}

.margin-left {
	margin-left: 20px;
}

.margin-right {
	margin-right: 20px;
}

.margin-bottom{
	margin-bottom: 10px;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.twitterbird {
	width: 950px;
	height: 400px;
	display: block;
	background: transparent url('../img/9x4grey.png') center top no-repeat;
}

.twitterbird:hover {
	background-image: url('../img/9x4.png');
}